@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/* shared-items */

.display {
    display: flex;
}


/* dark 2 */

.text-gray {
    color: #424242;
}

.text-primery {
    color: rgba(255, 144, 14, 1);
}


/* dark 3 */

.text-light {
    color: #727272;
}


/* dark1 */

.text {
    color: #131313;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primery {
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}


/* main-section */

main {
    max-width: 1140px;
    margin: 0 auto;
}

main>section {
    margin-top: 130px;
}


/* header */


/* navber */

.navber {
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
}

.navber,
.banner,
.temes {
    max-width: 1440px;
    margin: 0 auto;
}

.brand {
    font-size: 2.5rem;
    font-weight: bold;
}


/* banner-related */

.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
}

.banner-imegs {
    width: 100%;
}


/* team and featuer */

.temes {
    align-items: center;
    margin-top: 2rem;
}

.team-images-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-featuer {
    max-width: 530px;
    margin-left: 130px;
}

.section-title {
    font-size: 2.5rem;
    font-size: 700;
}

#quick-list {
    font-weight: 500;
}


/* responsive query */

@media screen and (max-width:576px) {
    .navber,
    .nav-link,
    .temes {
        flex-direction: column;
    }
    .team-images-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .our-featuer {
        margin-left: 20px;
    }
}


/* medium-device */

@media screen and (min-width:576px) and (max-width:992px) {
    .temes {
        flex-direction: column;
    }
    .our-featuer {
        margin: 50px auto;
    }
}